# obsidian local workspace settings
.obsidian/

# vscode user settings
.vscode/


# environment variables
.env
.env.production

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
